<div class="reddit-body">
  <div class="container">
    <div *ngIf="currentUserId"> 
      <button *ngIf="canSuspend()" (click)="goToSuspend()" class="btn-danger btn-sm" style="align-items: flex-end; margin-top: 10px; ">Susspend community</button>
      <button *ngIf="canEdit()" style="margin: 5px;" (click)="goToEditCommunity()" class="btn-primary btn-sm">Edit</button>
    </div>
    

    <div class="row" >    
      <div class="col-md-7" *ngFor="let post of posts">       
        <app-post [post]="post"></app-post>
        <hr />
      </div>
      <div class="col-md-5">
        <app-list-rules [communityId] = "communityId" [currentUserId]="currentUserId" [moderatorId]="moderatorId" ></app-list-rules> 
      </div>
    </div>

  </div>
</div>
