<div class="container">
  <div class="row">
    <hr />
    <div class="col-md-9">
      <div class="row post">
        <div class="col-md-1">
          <app-reaction-button [post]="post"></app-reaction-button>
        </div>
        <div class="col-md-11">
          <span class="community-info">
            <span class="community-text"><a class="posturl" > Community:
                {{post.communityName}}</a></span> <br>
            <span>Posted by {{post.userName}} </span><br>
            <span>{{post.duration}}</span> <br>
          </span>
      
          <div class="post-title">
            <span class="postname">{{post.postName}}</span>
            <p class="post-text">{{post.text}}</p>
          </div>
          <hr>

        </div>
      </div>
    </div>
  </div>
</div>