<!-- Display Posts-->
<div class="row post" *ngFor="let post of posts">
  <app-reaction-button [post]="post"></app-reaction-button>
    <!-- Section to Display Post Information-->
    <div class="col-md-11">
      <span class="community-info">
        <span class="community-text"><a class="posturl" routerLink="">{{post.communityName}}</a></span>
        <span> . Posted by <a class="username" >{{post.userName}}</a></span>
        <span> . {{post.duration}}</span>
      </span>
      <hr />
      <div class="post-title">
        <a class="postname" >{{post.postName}}</a>
      </div>
      <div>
        <p class="post-text" [innerHtml]="post.text"></p>
      </div>
      <hr />
    </div>
  </div>
