<div class="container">
    <div class="row">
      <div class="create-community-container">
        <form class="post-form" [formGroup]="form" (ngSubmit)="editCommunity()">
          <div class="form-group">
            <div class="create-community-heading">Edit community</div>
            <hr />
            <input type="text" [formControlName]="'title'" class="form-control" style="margin-top: 5px"
              value="{{communityModel.name}}">
            <textarea type="text" [formControlName]="'description'" class="form-control"  style="width: 100%; margin-top: 5px"
                value="{{communityModel.description}}"></textarea>       
                <button (click)="discard()" class="btnDiscard">Discard</button>
                <button type="submit" >Update</button>        
          </div>
        </form>
      </div>
    </div>
  </div>
