<div class="login-section">
    <div class="row justify-content-center">
        <div class="col-lg-5">
            <div class="card shadow-lg border-0 rounded-lg mt-5">
                <div class="card-header">
                    <h3 class="text-center font-weight-light my-4">Log in</h3>
                </div>
                <div class="card-body">
                    <p *ngIf="notification" [class]="notification.msgType">{{notification.msgBody}}</p>
                    <form [formGroup]="loginForm" (ngSubmit)="login()" *ngIf="!submitted">
                        <div class="form-floating mb-3">
                            <input type="text" id="user_name" class="form-control" [formControlName]="'username'" name="user_name" placeholder="Username" required minlength="3" maxlength="64"
                                    autofocus>
                                    <span *ngIf="!loginForm.get('username').valid && loginForm.get('username').touched">
                                        Username cannot be empty
                                     </span>
                            <label for="user_name">Username</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="password" id="password" class="form-control" [formControlName]="'password'" name="password" placeholder="Password" required minlength="3" maxlength="32">
                            <span *ngIf="!loginForm.get('password').valid && loginForm.get('password').touched">
                                Password cannot be empty
                              </span>
                            <label for="password">Password</label>
                        </div>

                        <div class="d-flex justify-content-center mt-4 mb-0 ">
                            <button [disabled]="!loginForm.valid" color="primary" class="btn btn-lg btn-primary" type="submit">
                                Login
                            </button>
                        </div>
                        <div class="login-failed" *ngIf='this.isError'>
                            <p class="login-failed-text">Login Failed. Please check your credentials and try again.</p>   
                       </div>
                    </form>
                </div>
                <div class="card-footer text-center py-3">
                    <div class="small"><a routerLink="/registration">Need an account? Sign up!</a></div>
                </div>
            </div>
        </div>
    </div>
</div>