.votebox {    
    display: flex;
    text-align: center;
    align-items: left;
    flex-direction: column;
    font-size: 1em;   
    left: 0;
    position: relative;

}

.votesection{
    margin:5px;
    background-color: #ffffff;
}
.upvote,.downvote {
    cursor: pointer;
    border-radius: 2px solid;        
}


.votecount{
    font-weight: bold;    
}