<div class="container">
    <div class="row">
        <div class="col-12">
            <!-- Page title -->
            <div class="my-5">
                <h3>My Profile</h3>
                <hr>
            </div>
            <!-- Form START -->
            <form [formGroup]="form" (ngSubmit) = "onSubmit()">
                <div class="row mb-5 gx-5">
                    <!-- Contact detail -->
                    <div class="col-xxl-8 mb-5 mb-xxl-0">
                        <div class="bg-secondary-soft px-4 py-5 rounded">
                            <div class="row g-3">
                                <h4 class="mb-4 mt-0">Update profile details</h4>

                                <!-- Username -->
                                <div class="col-md-6">
                                    <label for="username" class="form-label">Username</label>
                                    <input [formControlName]="'username'" [(ngModel)]="user.username" type="text" class="form-control" id="username"
                                        value="">
                                </div>
                                <!-- Email -->
                                <div class="col-md-6">
                                    <label class="form-label">Email</label>
                                    <input [formControlName]="'email'" [(ngModel)]="user.email" type="email" class="form-control" placeholder="" aria-label="Email" id="email"
                                        value="" readonly>
                                </div>
                                <!-- Description -->
                                <div class="col-md-6">
                                    <label class="form-label">Description</label>
                                    <input [formControlName]="'description'" [(ngModel)]="user.description" type="text" class="form-control" placeholder="" value="" id="description">
                                </div>
                                <!-- Display name -->
                                <div class="col-md-6">
                                    <label class="form-label">Display name</label>
                                    <input [formControlName]="'displayName'" [(ngModel)]="user.displayName" type="text" class="form-control" placeholder="" id="displayName" value="">
                                </div> <br>
                                <div >
                                    <label for="pictureInput">Upload picture</label><br>
                                    <input class="form-control" type="file" id="selectAvatar" (change)="fileChangeEvent($event)" accept="image/png, image/jpeg" /> <br>
                                    <img *ngIf="isImageSaved" class="img" [src]="cardImageBase64" height="200px" width="300px"/>
                                </div>
                                <br>
                                <button class="btn btn-primary btn-sm">Update profile</button>
                            </div>
                        </div> <!-- Row END -->
                    </div>
                </div>              
            </form> <!-- Form END -->
        </div>
        <div>
            <button (click)="goToChangePassword()" class="btn btn-primary btn-sm">Change password</button>
        </div>
    </div>
</div>

