<div class="container">
  <div class="row sidebar">
    <div style="display: inline;">
      <h2 style="color: red;">Rules</h2>
      <ul>
        <li *ngFor="let rule of rules">
          <span style="padding: 5px;">{{rule.description}}</span>
          <button *ngIf="canEdit()" style="margin: 5px;" (click)="goToEditRule(this.rule.id)" class="btn-primary btn-sm">Edit</button>
          <button *ngIf="canDelete()" style="margin: 5px;" (click)="deleteRule(this.rule.id)" class="btn-primary btn-sm">Delete</button>
        </li>
      </ul>
    </div><br>
  </div>
  <div  >
    <button *ngIf="canEdit()" (click)="goToCreateRule()" class="btn-info">Create</button><br> 
  </div>
</div>