<div class="container">
    <div class="row">
      <div class="create-community-container">
        <form class="post-form" [formGroup]="form" (ngSubmit)="editRule()">
          <div class="form-group">
            <div class="create-community-heading">Write new rule</div>
            <hr />
            <input type="text" [formControlName]="'rule'" style="width: 100%; margin-top: 5px" value="{{rule.description}}"
               autofocus>
            <div>
              <div style="margin-top: 5px" class="float-right">
                <button (click)="discard()" class="btn-secondary btn-sm">Discard</button>
                <button type="submit" class="btn-primary btn-sm">Edit</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
