<div class="container">
  <div class="row">
    <div class="create-community-container">
      <form class="post-form" [formGroup]="form" (ngSubmit)="suspendCommunity()">
        <div class="form-group">
          <div class="create-community-heading">Write the reason for suspension</div>
          <hr />
          <textarea type="text" [formControlName]="'reason'" style="width: 100%; margin-top: 5px" placeholder="Reason"
            required autofocus></textarea>
          <div>
            <div style="margin-top: 5px" class="float-right">
              <button (click)="discard()" class="btn-secondary btnDiscard">Discard</button>
              <button [disabled]="!form.valid" class="btn-primary btn-sm">Create</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>